<h1>Dashboard</h1>
<h2>Wishlist</h2>
<% @bookings_as_borrower.each do |request| %>
  <div class="booking-card">
    <div class="img-div">
      <img src="<%= request.offer.game.string_url %>" alt="<%= request.offer.game.name %> cover art">
    </div>
    <div class="text-content">
      <div>
        <p><%= request.offer.game.name %></p>
        <div></div>
        <p>from <%= request.offer.user.username %></p>
      </div>
      <div>
        <p><%= request.start_date %> ~ <%= request.end_date %></p>
        <div></div>
        <p>Status: <%= request.status %></p>
      </div>
    </div>
  </div>
<% end %>
