<div class="banner pt-4 pb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.midjourney.com/7fbf90f2-e8a8-432d-8c4d-7018f5c59b42/0_1.webp);">
  <div class="container">
    <h1 style="color:white">Dashboard</h1>
    <p style="color:white">Your game world at a glance</p>
  </div>
</div>
<div class="add-margins d-flex justify-content-center">
  <div class="bookings-column">
    <h2>My Wishlist</h2>
    <% @bookings_as_borrower.reverse_each do |request| %>
      <div class="booking-card">
        <div class="img-div">
          <img src="<%= request.offer.game.string_url %>" alt="<%= request.offer.game.name %> cover art">
        </div>
        <div class="text-content">
          <div>
            <p><%= request.offer.game.name %></p>
            <div></div>
            <p>Owner: <%= request.offer.user.username %></p>
          </div>
          <div>
            <p><%= request.start_date %> ~ <%= request.end_date %></p>
            <div></div>
            <% if request.status == "Pending" %>
              <p class="pending"><%= request.status %></p>
            <% elsif request.status == "Approved" %>
              <p class="btn btn-success approved"><%= request.status %></p>
            <% else %>
              <p class="btn btn-danger denied"><%= request.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="my-games-column">
    <h2>My Rentals</h2>
    <% @offers.each do |offer| %>
      <div class="my-game-card">
        <div class="img-div">
          <% if offer.photo.attached? %>
            <%= cl_image_tag(offer.photo.key, width: 300, height: 300, crop: "fit", class: 'user-photo') %>
          <% else %>
            <img src="<%= offer.game.string_url %>" alt="<%= offer.game.name %> cover art">
          <% end %>
        </div>
        <div class="text-content">
          <div>
            <p><%= offer.game.name %></p>
            <div></div>
            <% price_formatted = sprintf('%.2f', offer.price) %>
            <p>Price: $<%= price_formatted %></p>
          </div>
          <div>
            <p class="btn btn-primary edit-offer-btn">Edit Offer</p>
            <div></div>
            <% if offer.pending_bookings? %>
              <p>Request!</p>
            <% else %>
              <p>No requests</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="bookings">
          <% offer.bookings.each do |booking| %>
            <div class="booking">
              <div class='booking-left'>
                <div class="booking-info">
                  <div class="booking-info-title">
                    <%= booking.user.username %>
                  </div>
                  <div class="booking-info-details">
                    <%= booking.start_date %> - <%= booking.end_date %>
                  </div>
                </div>
              </div>
              <div class="booking-actions">
                <% if booking.status == "Pending" %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'Approved'} %>
                    <%= f.submit 'Accept', class: 'btn btn-info' %>
                  <% end %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'Denied'} %>
                    <%= f.submit 'Reject', class: 'btn btn-light' %>
                  <% end %>
                <% else %>
                  <p class='booking-tag'><%= booking.status %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
