<div class="container mt-3">
  <div class="container">
    <h1 class="text-center"><%= @game.name %></h1>
  </div>
</div>
<div class="container ">
  <div class="show-card-product">
    <img class="img-fluid img-thumbnail" src=<%= @game.string_url %>>
    <div class="show-card-product-infos">
      <h2><i class="icon fa-solid fa-people-group lh-lg"></i> <%= @game.players %> players</h2>
      <h2><i class="icon fa-regular fa-clock lh-lg"></i> <%= @game.play_time %> minutes</h2>
      <h2><i class="icon fa-solid fa-dice-d20 lh-lg"></i> <%= @game.genre%></h2>
      <div class="lh-base" ><h2><i class="icon fa-regular fa-comment"></i> <%= @game.description.split(" ").first(25).join(" ")%>...</h2></div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-info rounded mt-3 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        See More
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @game.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="white-space: pre-wrap;">
        <%= @game.description %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 mt-3">
  <div class="game-offers-cards">
    <%@game.offers.each do |offer|  %>
      <div class="game-offers-card-product">
        <% if offer.photo.attached? %>
          <%= cl_image_tag(offer.photo.key, width: 300, height: 300, crop: "fit") %>
        <% else %>
          <img src="<%= offer.game.string_url %>" alt="<%= offer.game.name %> cover art">
        <% end %>
        <div class="game-offers-card-product-infos">
          <h3><strong><%= offer.user.username %></strong></h3>
          <h2> <%=offer.price %> $ /day </h2>
          <p><%= offer.comment %></p>
          <%#= link_to "Book now", offer_path(offer), class: "btn btn-gradient" %>
        </div>
        <div class="game-offers-card-product-infos">
          <div class="container">
            <%= render 'bookings/form', offer: offer %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
