<div class="banner pt-2 pb-2" style="background-image: linear-gradient(rgba(255,100,0,1),rgba(255,100,0,1))">
  <div class="container">
    <h1> Fill in the details of the game you would like to rent out. </h1>
  </div>
</div>
<div class="container form-container">
<%= simple_form_for [@offer], html: { class: 'form-class' } do |f| %>
  <%= f.association :game, collection: Game.order(name: :asc), label: 'Select a game' %>
  <%= f.input :price, label: 'Rental price per day' %>
  <%= f.input :comment, placeholder: 'game\'s condition, your opinion, etc.' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
