<% @offers.each do |offer|%>
<h1><%= @offer.game_id %></h1>
<h2><%= @offer.user_id %></h2>
<h2><%= @offer.pending_request %></h2>
<h2><%= @offer.comment %></h2>
<h2><%= @offer.price %></h2>
<% end %>
